<div [@tabContent]="accordionVisible" (@tabContent.start)="toggleInnerContent($event)"
  (@tabContent.done)="toggleInnerContent($event)" class="p-accordion" [attr.tabindex]="tabIndex">
  <div class="accordion-tab" id="acc-{{instanceCount}}">
    <div class="p-header" #header (click)="toggleAccordion($event)">
      <span class="caret"><i
          [ngClass]="{'fa-angle-down': accordionVisible==='hidden', 'fa-angle-up': accordionVisible==='visible'}"
          class="fa icon-24"></i></span>
      <ng-content select="[header]"></ng-content>
    </div>
    <div [ngClass]="{'hide-inner-content': !innerContentVisible}">
      <ng-content select="[content]"></ng-content>
    </div>
  </div>
</div>
