<div class="floating-label">
  <div class="form-group n-dropdown mt-0"
    [ngClass]="{'disabled':disabled, 'validation-error':validationError, 'hide-bottom-border': showDropdown, 'focused': showDropdown}">
    <div (click)="toggleDropdown()" class="form-control lean-floating-label input-text p-t-sm"
      [ngClass]="{'disabled':disabled, 'validation-error':validationError, 'hide-bottom-border': showDropdown, 'focused': showDropdown}"
      [attr.disabled]="disabled ? '' : null"></div>
    <label class="autocomplete-label d-flex w-100">
      <ng-container *ngIf="!selectedOption">
        <i *ngIf="validationError && !errorLabel"
          class="error-icon icon-22 fa fa-exclamation-circle p-r-xs">
        </i>
        <span
          [ngClass]="{'validation-error-label': validationError}">{{label}}
        </span>
      </ng-container>
      <ng-container *ngIf="selectedOption">
        <i *ngIf="validationError && !errorLabel"
          class="error-icon icon-22 fa fa-exclamation-circle p-r-xs">
        </i>
        <span
          [ngClass]="{'validation-error-label': validationError}">{{selectedOption.label}}
        </span>
      </ng-container>
    </label>

    <span *ngIf="showDropdown" (click)="closeDropdown()" class="caret fa icon-24"
      [ngClass]="{'fa-angle-down': !showDropdown, 'fa-angle-up': showDropdown}"></span>
    <span *ngIf="!showDropdown" (click)="openDropdown()" class="caret fa icon-24"
      [ngClass]="{'fa-angle-down': !showDropdown, 'fa-angle-up': showDropdown}"></span>

    <div #dropdownSurface *ngIf="showDropdown" class="dropdown-surface position-absolute w-100">
      <div *ngFor="let option of dropdownOptions; let i = index" class="w-100 small text-truncate">
        <div class="option p-l-md p-r-md" (mouseover)="setHighlightedOption(i)" (click)="selectOption(option)"
          [ngClass]="{'highlighted': checkHighlighted(i)}">{{option.label}}</div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="errorLabel" class="n-input-error-message">
  <i class="error-icon icon-14 fa fa-exclamation-circle p-r-xs"></i><span>{{errorLabel}}</span>
</div>

